body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
}

/* NAVBAR */
.navbar {
    background: white;
}
.navbar-brand {
    color: #111 !important;
}
.nav-link {
    color: #555 !important;
}
.nav-link:hover {
    color: black !important;
}

/* HERO */
.hero {
    min-height: 100vh;
    padding-top: 100px;
}

.profile-img {
    max-width: 250px;
}

/* SECTION */
section {
    padding: 80px 0;
}

.section-subtitle {
    color: #6c757d;
}

/* SKILLS */
.skill-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
}

/* PROJECT */
.project-card {
    border: 1px solid #eee;
    border-radius: 10px;
}

/* CONTACT */
.contact-form {
    max-width: 700px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
